@import '../../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

nav {
  border-bottom: .5px solid #254d4c8b;

}

.wrapper { 
  display: flex;
  justify-content: space-between;
  margin: .5rem 0;

  .menu {

    li {
      list-style: none;
      display: inline-block;
      padding: 0 .8rem;
      
      .logo {
        font-size: 2.5rem;
        font-family: 'Splash', cursive;
        color: lighten($secondary-color, 10%);
        padding-right: 1.9rem;
      }

      a {
        text-decoration: none;
        color: #FFF5F9;
        font-family: $text-font;
        font-size: 1.2rem;
      }

      .activeStyle { 
        color: lighten($secondary-color, 20%);
      }

      a:hover { 
        letter-spacing: .15rem;
        color: lighten($secondary-color, 60%);
        transition: .75s;
      }
    }
  }

  .icons {
    display: flex;
    margin: 0 2.5rem 0 0;

    i {
      margin: auto;
      font-size: 1.5rem;
      padding: 0.5rem 0.3rem 0.5rem 0.4rem;
    }
  }
}
