@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Sans+Pro:wght@200&display=swap');

$header-font: 'Oswald', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;
$main-dark-color: #1b1a1a;
$main-light-color: #efe6e6;
$secondary-color: #00AAA9; 
