@import '../../../styles/variables.scss';

.hero {
  background-color: $secondary-color;
  outline: .1rem solid darken($secondary-color, 10%);
  outline-offset: .5rem;
  text-align: center;
  margin: 0 0 5rem 0;

  h1 {
    font-size: 2.5rem;
    font-family: $header-font;
  }

  p {
    font-size: 1.25rem;
  }
}