@import '../../../styles/variables.scss';

.hero {
  outline: .10rem solid #254d4c8b;
  background-color: $secondary-color;
  outline-offset: .80rem;
  text-align: center;
  margin: 9rem 0;

  h1 {
    font-size: 2.5rem;
    font-family: $header-font;
  }

  p {
    font-size: 1.25rem;
  }
}