@import '../../../styles/variables.scss';

.shortcuts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;

  .techStack {
    flex-basis: 48%;
    background-color: $secondary-color;
    outline: .1rem solid darken($secondary-color, 10%);
    outline-offset: .5rem;

    ul {
      display: flex;
      flex-wrap: wrap;
      
      li {
        list-style: none;
        padding: .7rem;
      }
    }
  }

  .projects {
    flex-basis: 48%;
    background-color: $secondary-color;
    outline: .1rem solid darken($secondary-color, 10%);
    outline-offset: .5rem;
  }
}

@media (max-width: 500px){
  .shortcuts {
    flex-direction: column;

    .techStack {
      margin-bottom: 4rem;
    }
  }
}